<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Film List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>

    <!-- tarefas.html -->
    <div class="alert alert-primary text-center mt-3" role="alert">
        <span th:text="'Olá, ' + ${usuario.nome} + '! Bem-vindo(a)!'"></span>
    </div>

    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Lista de Filmes</h2>
            <a href="/logout" class="btn btn-outline-danger">Logout</a>
        </div>

        <!-- Formulário para nova filme -->
        <form action="/adicionarFilme" method="post" class="mb-4 row g-3">
            <div class="col-auto">
                <label for="descricao" class="visually-hidden">Título</label>
                <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Novo filme">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success">Criar Filme</button>
            </div>
        </form>

        <!-- Tabela de tarefas -->
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Gênero</th>
                    <th>Ano de Lançamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="filme : ${filmes}">
                    <td th:text="${filme.id}"></td>
                    <td th:text="${filme.titulo}"></td>
                    <td th:text="${filme.genero}"></td>
                    <td th:text="${filme.anoDeLancamento}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>